<div class="row">
    <button 
        class="btn btn-success" 
        (click)="hint('hint')"
        [disabled]="!started"> 
        HINT 
    </button>
</div>
<hr>
<div class="row">
    <button 
        *ngIf="!shown" 
        class="btn btn-success" 
        (click)="hint('all')"
        [disabled]="!started">
         SHOW ALL 
    </button>

    <button 
        *ngIf="shown" 
        class="btn btn-success" 
        (click)="hint('all')"
        [disabled]="!started"> 
        HIDE ALL 
    </button>
</div>
